#root {
  height: 100%;
  width: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center;
  background-image: url('./Assets/back.jfif');
  background-size:auto;
  background-repeat: no-repeat;
}

