.card-grid {
    height: 60%;
    display: grid;
    overflow-y: scroll;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: 1fr 1fr;
    padding: 40px; 
    
    
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #f4d09c;
}
::-webkit-scrollbar
{
	width: 20px;
	background-color: #f4d09c;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #e19d4c;
}