.card {
    display:block;
    height: 80px;
    width: 80px;
    background-color: rgb(128, 85, 37);
    color: black;
    border-radius: 10px;
    font-size: xx-small;
}

.top {
    height: 50%;
    width: 100%;
    background-color: rgb(241, 232, 200);
}

.bottom {
    height: 20%;
    width: 100%;
    background-color: rgb(192, 219, 243);
}