.card{
    height: 200px;
    width: 180px;
    color: aliceblue;
    background-color: rgb(0, 0, 0);
    
}
.card:hover {
    box-shadow: 0 0 30px #ff7627;
    transform: translateY(-10px);
  }
  

.card img {
    height: 100%;
    width: 100%;   
}

.card h3 {
    font-size: 25px;
}

.description {
    display: none;
    background: rgba(0, 0, 0, 0.527);
    color: #fff;
    position:relative;
    width: 100%;
    height: fit-content;
    visibility: hidden;
    transition: 0.3s;
    padding: 20px;
    font-size: 1.3rem;
}
  
  /* Show the description on card hover */
  .card:hover .description {
    display: block;
    background-color: #000000c7;
    visibility: visible;
    transition: 0.3s;
    box-shadow: 0 0 60px #ff7627;  
  }