.header {
    background-color: rgb(53, 38, 25);
    display: flex;
    height: fit-content;
    border: solid;
    border-top: inset 1rem #603f15;
    border-bottom: inset 1rem #aa7632;
    border-left: inset 1rem #aa7632;
    border-right: inset 1rem #553915;
    
    
  }
  

.portrait {
    margin: 2rem;
    height: 10rem;
    width: 10rem;
    background-image: url('../../Assets/portrait.jfif');
    background-size: cover; 
    border-radius: 50%;
    border-color: rgb(177, 156, 135);
    box-shadow:0 0 5px 0 rgba(0,0,0,1) inset, 0 5px 10px 5px rgba(0,0,0,1);
    overflow: hidden;
}

.quote {
    margin: 2rem;
    width: 60%;
    color:antiquewhite;
    font-size: 1.5rem;
    font-style: oblique;
    text-align: left;
}
