.character img{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    
}

.character p {
    font-weight: bolder;
    font-size: 25px;
}

.character:hover img {
    transition: 0.3s;
    box-shadow: 0 0 60px #ff7627;

  }