.container {
        background-color:#000000;
        border:solid 2vmin ;
        border-bottom-color:rgb(177, 156, 135);
        border-left-color:rgb(177, 156, 135);
        border-radius:2px;
        border-right-color:rgb(177, 156, 135);
        border-top-color:#b19c87;
        box-shadow: 0 50px 100px 50px rgb(0, 0, 1);
        margin:5vh 5vw;
        height:90vh;
        width: 90vh;
        float: right;
        overflow: hidden;
        
        
        
}