.container {
        display: flex;
        background-color:#000000;
        border:solid 2vmin ;
        border-bottom-color:rgb(8, 7, 24);
        border-left-color:rgb(61, 45, 34);
        border-right-color:rgb(61, 45, 34);
        border-top-color:#99742f;
        box-shadow: 0 50px 100px 50px rgb(37, 21, 5);
        margin:2rem;
        height:90vh;
        width: 60rem;
        float: right;
        overflow: hidden;
}